.contactform {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.contactform-body {
    height: 100%; /* Ensures it takes full height of the contactform */
    max-width: 100%;
}


.contactform-body img {
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
}

.form-container {
    padding: 80px;
    width: 100%;
    max-width: 600px; /* Adjust as needed for responsiveness */
    box-sizing: border-box; /* Ensures padding is included in the width */
    display: flex;
    flex-direction: column; /* Aligns child elements vertically */
    justify-content: center;
    align-items: center;
}

.form-head {
    font-size: 56px;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 20px; /* Adds spacing below the heading */
}

.paragraph {
    font-size: 22px;
    color: var(--text-color);
    margin-bottom: 40px; /* Adds spacing below the paragraph */
}

.form-info {
    display: flex;
    flex-direction: column; /* Aligns form fields vertically */
    gap: 15px; /* Adds spacing between form fields */
    width: 100%;
}

.form-info input,
.form-info textarea {
    padding: 10px;
    border: 1px solid #ddd; /* Adds a border to input fields */
    border-radius: 5px; /* Rounds the corners of input fields */
    width: 100%;
    box-sizing: border-box;
     background: var(--bg-color);
    ;
}

.form-info button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color); /* Adjust as needed */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-info button:hover {
    background-color: var(--primary-color-hover); /* Adjust as needed */
}

.result {
    margin-top: 20px;
    font-size: 18px;
    color: var(--text-color);
}
