.services {
  padding: 20px;
}

.services-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.card {
  flex: 1 1 calc(33.333% - 40px); /* Ensure three cards fit in one row, with space */
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 15px;
}

.card:hover {
  transform: translateY(-5px);
}

.card h4 {
  margin: 10px 0;
  font-size: 1.5em;
  color: var(--text-color);
}

.card p {
  font-size: 1em;
  color: var(--text-color);
  margin-bottom: 20px;
}
