.counter {
  text-align: center;
  /* */
  background-color: var(--secondary-color);
  min-height: 400px;
}
.counter-container {
  margin: auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  animation: appearance linear;
  animation-timeline: view();
  animation-range: entry 25% cover 50%;
  gap: 16px;
}
.container-content {
  flex: 1 1 200px;
  padding: 20px;
  text-align: center;
}
.counter-content{
  gap: 3.2em;
}
