.hero-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-between;
}
.content{
    width: 100%;
}
.hero-text{
    align-items: center;
    text-align: left;
    padding: 0 20px;
    margin-top: 40%;
    font-size: 30px;
    color: var(--secondary-color);
}
#hdtext {
    font-size: 5.2rem;

}
#mintext{
    font-size: 2.2rem;
}
.hero-image img{
    width: 100%;
}
.btn-container{
    display: flex;
    gap: 15px;
}

.btn{
    /* background-color: #f98 !important; */
    color: white;
    padding: 12px 24px;
    border: 2px solid #000 !important;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;

}